<% @title = "Zupojadek" %>
<% @description = "You take a role of Zupojadek&mdash;a boy that enjoys eating soups. Your task is to collect letters that made word ZUPPA. It&apos;s not an easy work, because you will have to be pitted with various enemies and expiring time." %>
    <article role="main">
      <h1 class="heading heading-primary"><%= @title %></h1>
      <div class="formatting">
        <p><%= @description %></p>
      </div>
      <section id="downloads">
        <h2 class="outline">Downloads</h2>
        <ul class="downloads clearfix">
          <li class="installer">
            <a href="/download/zupojadek.exe">
              <i class="icon-installer"></i>
              <span>Installer (Windows)</span>
              <small class="minor">EXE, 1 MB</small>
            </a>
          </li>
        </ul>
      </section>
      <section id="media">
        <h2 class="outline">Media</h2>
        <ul class="media clearfix">
          <li><img src="<%= STATIC_URL %>/media/zupojadek/screen-1.png" alt="Screen #1"></li>
          <li><img src="<%= STATIC_URL %>/media/zupojadek/screen-2.png" alt="Screen #2"></li>
          <li><img src="<%= STATIC_URL %>/media/zupojadek/screen-4.png" alt="Screen #4"></li>
        </ul>
      </section>
    </article>
