<% @title = "Kalafior Games" %>
<% @description = "Home of games made by Maciej Lamberski. Created to allow player have fun and gain something from the experience." %>    <section role="main">
      <ul class="games">
        <li>
          <a href="/elf-elfonsinio-2">
            <img src="<%= STATIC_URL %>/media/elf-elfonsinio-2/thumb.png" alt="Elf Elfonsinio 2 thumb">
          </a>
          <div class="clearfix">
            <h2 class="heading heading-list left">Elf Elfonsinio 2</h2>
            <dl class="minor small meta right">
              <dt>Platform</dt>
              <dd>Windows</dd>
              <dt>Language</dt>
              <dd>English</dd>
              <dd>Polish</dd>
            </dl>
          </div>
        </li>

        <li>
          <a href="/zenek-zombie">
            <img src="<%= STATIC_URL %>/media/zenek-zombie/thumb.png" alt="Zenek Zombie thumb">
          </a>
          <div class="clearfix">
            <h2 class="heading heading-list left">Zenek Zombie</h2>
            <dl class="minor small meta right">
              <dt>Platform</dt>
              <dd>Windows</dd>
              <dt>Language</dt>
              <dd>English</dd>
              <dd>Polish</dd>
            </dl>
          </div>
        </li>

        <li>
          <a href="/elf-elfonsinio">
            <img src="<%= STATIC_URL %>/media/elf-elfonsinio/thumb.png" alt="Elf Elfonsinio thumb">
          </a>
          <div class="clearfix">
            <h2 class="heading heading-list left">Elf Elfonsinio</h2>
            <dl class="minor small meta right">
              <dt>Platform</dt>
              <dd>Windows</dd>
              <dt>Language</dt>
              <dd>English</dd>
              <dd>Polish</dd>
            </dl>
          </div>
        </li>

        <li>
          <a href="/robot-robus">
            <img src="<%= STATIC_URL %>/media/robot-robus/thumb.png" alt="Robot Robuś thumb">
          </a>
          <div class="clearfix">
            <h2 class="heading heading-list left">Robot Robuś</h2>
            <dl class="minor small meta right">
              <dt>Platform</dt>
              <dd>Windows</dd>
              <dt>Language</dt>
              <dd>Polish</dd>
            </dl>
          </div>
        </li>

        <li>
          <a href="/kromka-and-chleba">
            <img src="<%= STATIC_URL %>/media/kromka-and-chleba/thumb.png" alt="Kromka &amp; Chleba thumb">
          </a>
          <div class="clearfix">
            <h2 class="heading heading-list left">Kromka &amp; Chleba</h2>
            <dl class="minor small meta right">
              <dt>Platform</dt>
              <dd>Windows</dd>
              <dt>Language</dt>
              <dd>Polish</dd>
            </dl>
          </div>
        </li>

        <li>
          <a href="/zupojadek">
            <img src="<%= STATIC_URL %>/media/zupojadek/thumb.png" alt="Zupojadek thumb">
          </a>
          <div class="clearfix">
            <h2 class="heading heading-list left">Zupojadek</h2>
            <dl class="minor small meta right">
              <dt>Platform</dt>
              <dd>Windows</dd>
              <dt>Language</dt>
              <dd>Polish</dd>
            </dl>
          </div>
        </li>

        <li>
          <a href="/mega-hiper-japko-ekstrim">
            <img src="<%= STATIC_URL %>/media/mega-hiper-japko-ekstrim/thumb.png" alt="Mega Hiper Japko Ekstrim thumb">
          </a>
          <div class="clearfix">
            <h2 class="heading heading-list left">Mega Hiper Japko Ekstrim</h2>
            <dl class="minor small meta right">
              <dt>Platform</dt>
              <dd>Windows</dd>
              <dt>Language</dt>
              <dd>Polish</dd>
            </dl>
          </div>
        </li>
      </ul>
    </section>
